@import "variables.scss";

@import "app/components/footer.scss";
@import "app/components/sidebar.scss";

@import "app/layouts/auth.scss";
@import "app/layouts/admin.scss";

a, span, p, label {
    color: $jrb-black-color;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-jrb-green {
    background-color: $jrb-green-color;
}

.bg-jrb-orange {
    background-color: $jrb-orange-color;
}

.bg-jrb-red {
    background-color: $jrb-red-color;
}

.bg-jrb-gray {
    background-color: $jrb-gray-color;
}

.big {
    width: 54%;
}

a {
    color: $jrb-black-color;
    text-decoration: none;

    &:hover {
        color: $jrb-black-color;
        text-decoration: none;
    }
}

body {
    height: 100vh;
    
    #root {
        height: calc(100% - 40px);
    }
}

