$jrb-yellow-color:                #E8D0A946;
$jrb-red-color:                   #EB9EAC;
$jrb-green-color:                 #6D929B;
$jrb-gray-color:                  #B7AFA3;
$jrb-black-color:                 #666666;