$jrb-white-color:                 #FFFFFF;
$jrb-white-dark-color:            #EEEEEE;
$jrb-white-darker-color:          #DDDDDD;

$jrb-black-color:                 #666666;
$jrb-grey-color:                  #c1dad6;
$jrb-green-color:                 #6D929B;

$jrb-red-color:                   #EB9EAC;
$jrb-orange-color:                #E8D0A9;
$jrb-gray-color:                  #B7AFA3;
