.user-table {
    background-color: #f5f4f2;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding-top: 35px;
    padding-bottom: 63px;
    padding-left: 35px;
    padding-right: 30px;
    border-radius: 30px;


    display: flex;
    flex-direction: column;
    
    .table-header, .row-item {
        display: flex;
        border-bottom: 1px solid #ddd;
        div {
            font-size: 11px;
            flex: 1;
            padding: 0rem 0.4em;
            text-align: center;
        }

        &.odd {
            background-color: white;
        }
    }
    
    .table-header {
        margin: 0;
        padding-bottom: 10px;
        div { 
            cursor: pointer;
        }
    }


}